---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPostCard.astro";
import ProseHeadings from "../../components/ProseHeadings.astro";
import Pagination from "../../components/Pagination.astro";
import { sortByDate } from "../../components/sortbydate";

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection("posts");
  const sortedPosts = allPosts.sort(sortByDate);
  return paginate(sortedPosts, { pageSize: 10 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const pageTitle = "Blog Posts";
---

<BaseLayout title={pageTitle} is404Page={false}>
  <div
    class="flex flex-col px-4 xs:px-4 sm:px-8 max-w-7xl justify-start mx-auto w-full"
  >
    <ProseHeadings>
      <p class="md:space-x-14 md:mb-20 mb-10 text-4xl font-bold capitalize">
        {pageTitle}
      </p>
    </ProseHeadings>
    {page.data.map((post) => <BlogPost post={post} url={`/posts/${post.slug}`} />)}
    <Pagination
      currentPage={page.currentPage}
      lastPage={page.lastPage}
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
      baseUrl="/posts/"
    />
  </div>
</BaseLayout>
