---
import { Icon } from "astro-icon/components";
import BaseLayout from "../layouts/BaseLayout.astro";
const { title, width, height } = Astro.props;
import { getCollection } from "astro:content";
import { getImage } from "astro:assets"; // Add all your collections here
import IconPill from "./IconPill.astro";
let allData: { imageSrc: string | null; alt: string; url: string }[] = [];

const allContent = await getCollection("photoessays");
const essaysWithImages = allContent.filter((essay) => {
  const coverImage =
    essay.data.cover?.src || essay.data.spreads[0]?.photos[0]?.src;
  return !!coverImage;
});

const imagePromises = essaysWithImages.map(async (essay) => {
  const coverImage =
    essay.data.cover?.src || essay.data.spreads[0]?.photos[0]?.src;
  const coverAlt =
    essay.data.cover?.alt ||
    essay.data.spreads[0]?.photos[0]?.alt ||
    essay.data.title;

  const imageAsset = await getImage({
    src: coverImage,
    alt: coverAlt,
    width: "1920",
    height: "1080",
    quality: "65",
  });

  return {
    imageSrc: imageAsset ? imageAsset.src : null,
    alt: coverAlt,
    url: `/essays/${essay.id}`,
  };
});

const results = await Promise.all(imagePromises);
allData.push(
  ...results.map((result) => {
    return {
      imageSrc: result.imageSrc,
      alt: result.alt,
      url: result.url,
    };
  }),
);
---

<script></script>

<BaseLayout title={title} is404Page={false}>
  {
    allData.length > 0 ? (
      <div
        id="homepage"
        class="flex justify-center items-center"
        data-images={JSON.stringify(allData)}
      >
        <a>
          <img
            id="randomHomePageImage"
            class="mb-auto px-4 hidden h-[440px] sm:h-[600px] lg:h-[700px] xl:h-[1000px] 2xl:h-[70vh] object-contain w-full object-center"
            width={width}
            height={height}
          />
        </a>
        <slot />
      </div>
    ) : (
      <p>No images found</p>
    )
  }
  <div
    id="homepageButtons"
    class="my-4 mx-2 flex justify-center items-center flex-col sm:gap-4 gap-2 no-underline uppercase xs:flex-row"
  >
    <IconPill icon="mdi:text-box" url="/essays">Essays</IconPill>
    <IconPill icon="mdi:film" url="/rolls">Film Rolls</IconPill>
    <IconPill icon="mdi:filmstrip-box-multiple" url="/films"
      >Film Stocks</IconPill
    >
  </div>
  <script src="../scripts/homePage.js"></script>
</BaseLayout>
<style>
  #randomHomePageImage {
    opacity: 0;
    animation: fade 1s ease-in-out 0.5s 1 forwards;
  }

  #homepageButtons {
    opacity: 0;
    animation: fadeTranslate 1s ease-in-out 4s 1 forwards;
  }

  @keyframes fadeTranslate {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
