---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import FilmRollCard from "../../components/FilmRollCard.astro";
import ProseHeadings from "../../components/ProseHeadings.astro";
import { sortRollsByDate, sortShotsByDate } from "../../components/rolls.jsx";
import { getRollSlug } from "../../components/rolls";
const pageTitle = "Film Rolls";
const allRolls = await getCollection("rolls");
//TODO: Implement pagination
//TODO: isolate layout styling - padding and margins
---

<BaseLayout title={pageTitle} is404Page={false}>
  <div
    class="flex flex-col px-4 xs:px-4 sm:px-8 max-w-7xl justify-start mx-auto w-full"
  >
    <ProseHeadings>
      <p class="md:space-x-14 md:mb-20 mb-10 text-4xl font-bold capitalize">
        {pageTitle}
      </p>
    </ProseHeadings>
    {
      allRolls
        .sort(sortRollsByDate)
        .reverse()
        .map((roll) => (
          <FilmRollCard roll={roll} url={`/rolls/${getRollSlug(roll.id)}`} />
        ))
    }
  </div>
</BaseLayout>
