---
import BaseLayout from "./BaseLayout.astro";
import BlogPost from "../components/BlogPostCard.astro";
import "../styles/glightbox.css";
import Prose from "../components/Prose.astro";
import Tag from "../components/TagPill.astro";

import { getImage, Image } from "astro:assets";
import { getEntry, type CollectionEntry, getCollection } from "astro:content";
import {
  getDatesRange,
  getDatesRangeFormatted,
  getRollSlug,
  getCoverImage,
} from "../components/rolls.jsx";
import Masonry from "../components/Masonry.astro";
import ProseHeadings from "../components/ProseHeadings.astro";

type Props = {
  roll: CollectionEntry<"rolls">;
};

const { roll } = Astro.props;
const data = roll.data;
const posts = await getCollection(
  "posts",
  ({ data }) => data.rolls?.map((e) => e.id)?.includes(roll.id) || false,
);

const filmStock = await getEntry("films", roll.data.film.id);

const authorObject = await getEntry({
  collection: "authors",
  slug: "paskal", // TODO: Fix this, Hard coded for now
});

const dates = getDatesRangeFormatted(roll);
const title = getRollSlug(roll.id);
const description = data.description;
const authorFullName = authorObject?.data.name || "none";
const author = authorFullName.split(" ")[0].toLowerCase();

const keyWords = ""; //TODO: add relevant data as keywords
const coverImage = getCoverImage(roll);
---

<BaseLayout
  title={`${title} - Film Roll`}
  image={coverImage.src}
  alt={coverImage.alt}
  description={description}
  author={author}
  pubDate={dates}
  keywords={keyWords}
  is404Page={false}
>
  <div
    data-pagefind-body
    class="pt-4 w-full dark:bg-[rgb(34,33,37)] bg-[#f2f2f2]"
  >
    <Prose>
      <ProseHeadings>
        <h1 class="capitalize">{title}</h1>
      </ProseHeadings>
      <p>{data.description || null}</p>
      <h2 class="text-2xl">Roll Details</h2>
      <ul>
        <li>
          Film stock: <a href=`/films/${data.film.id}`>{filmStock.data.name}</a>
        </li>
        <li>Film format: {data.format}</li>
        <li>Camera: {data.camera}</li>
        <li>Dates: {dates}</li>
      </ul>

      <h2 class="text-2xl">Blog Posts</h2>
      {
        posts.length > 0
          ? posts.map((post) => (
              <BlogPost
                class:list={["not-prose"]}
                post={post}
                url={`/posts/${post.slug}`}
              />
            ))
          : "None"
      }
      <h2 class="text-2xl">Shots</h2>
      <div
        class="image-container caption-bottom w-full flex flex-row flex-wrap gap-2 mx-auto justify-evenly"
        id="gallery"
      >
        {
          data.shots.map((shot) =>
            shot.hidden ? null : (
              <div class="inline-flex flex-col md:max-w-[49%] ">
                <figcaption class="font-bold text-lg mb-[-25px]">
                  {shot.sequence} -{" "}
                  {shot.date?.toLocaleDateString(undefined, {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}
                </figcaption>
                <a
                  href={shot.image.src}
                  class="image-link glightbox"
                  data-astro-prefetch="false"
                >
                  <Image
                    src={shot.image.src}
                    alt={shot.image.alt}
                    loading="lazy"
                    class="image"
                    inferSize
                    decoding={"async"}
                  />
                </a>
              </div>
            ),
          )
        }
      </div>

      <slot />
      <div class="flex flex-col sm:flex-row align-center">
        <div class="w-full flex-col sm:w-1/2 text-center sm:text-left">
          <p>
            -- <a
              href={`/authors/${author}`}
              class="no-underline font-inconsolata"
            >
              {authorFullName}</a
            >
          </p>
        </div>
        <div
          class="w-full flex-col sm:w-1/2 text-left sm:text-right mt-[10px] font-inconsolata"
        >
          <div>
            Shot {dates}
          </div>
        </div>
      </div>
      <script src="../scripts/lightbox.js"></script>
    </Prose>
  </div>
</BaseLayout>
