---
import BaseLayout from "../layouts/BaseLayout.astro";
import GetRandomImage from "../components/GetRandomImage.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { getImage } from "astro:assets";
const allContent: CollectionEntry<"posts">[] = await getCollection(
  Astro.props.directory,
);
const tags: string[] = [];
// const images = allContent.map((post) => post.data.image?.src);
const imagesByTag = {};
const altsByTag = {};

for (const post of allContent) {
  for (const tag of post.data.tags) {
    if (!imagesByTag[tag]) {
      imagesByTag[tag] = [];
      altsByTag[tag] = [];
      tags.push(tag);
    }
    if (post.data.image?.src) {
      const imageAsset = await getImage({
        src: post.data.image?.src,
        alt: post.data.image?.alt,
        inferSize: true,
      });
      imagesByTag[tag].push(imageAsset ? imageAsset.src : null);
      altsByTag[tag].push(post.data.image?.alt);
    }
  }
}
const { title } = Astro.props;
---

<BaseLayout title={title} is404Page={false}>
  <div>
    {
      tags.length === 1 ? (
        <div class="object-contain w-full h-full relative flex items-center justify-center font-overpass-mono">
          <GetRandomImage
            images={JSON.stringify(imagesByTag[tags[0]])}
            alt={JSON.stringify(altsByTag[tags[0]])}
            tag={tags[0]}
            url={`/tags/${tags[0]}`}
          />
          <slot />
        </div>
      ) : (
        <div class="sm:grid sm:grid-cols-4 gap-4 space-y-4 sm:space-y-0 justify-center items-center font-overpass-mono">
          {tags.map((tag) => (
            <div class="col-span-1">
              <GetRandomImage
                images={JSON.stringify(imagesByTag[tag])}
                alt={JSON.stringify(altsByTag[tag])}
                tag={tag}
                url={`/tags/${tag}`}
              />
            </div>
          ))}
          <slot />
        </div>
      )
    }
  </div>
</BaseLayout>
